name: External Test

on:
  pull_request:
    types:
      - synchronize
      - opened
      - reopened

  workflow_dispatch:

jobs:
  external:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - name: external-test
        run: |
          npm install
          npm run test:external
